.cakesPage {
 h1 {
     padding: 10px 15px;
 }   
}

.contols {
    .row {
        max-width: 1200px;
        margin: 0 auto;
    }
    article {
        width: 245px;
        padding: 8px;
        -webkit-flex-direction: column;
        flex-direction: column;
        border-radius: 8px;
        border: 4px solid #fff;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 12%);
        background-color: #fff;
        min-height: 235px;
        margin: 15px auto;
        text-align: center;
        cursor: pointer;
        h2,p {
            margin-bottom: -2px;
        }
        p {
            color: #888;
        }

        &:hover {
            border-radius: 8px;
            box-shadow: 0 0 10px 0 rgb(0 0 0 / 12%);
            border: 4px solid #57b568;
            text-decoration: none;
        }
    }
}
.otherWrapper {
    display: grid;
    place-items: center;
}

.otherFilters {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin: 30px 10px 10px 10px;
    padding: 25px 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    input {
        border: 1px solid #ddd;
        padding: 3px 10px;
        border-radius:3px 0 0 3px;
        max-width: 300px;
        width: 100%;
        border-right: 0;
    }

    button {
        background: #49A159;
        color: white;
        border:1px solid #49A159;
        padding: 3px 5px;
        cursor: pointer;
        border-radius: 0 3px 3px 0;
        svg {
            vertical-align: middle;
            font-size: 16px;
        }
    }

   .sort {
       
    button {
        background: #49A159;
        color: white;
        border:1px solid #49A159;
        margin:10px 3px;
        padding: 2px;
        cursor: pointer;
        border-radius: 2px;
        svg {
            vertical-align: middle;
            font-size: 16px;
        }
    }
    }
}
