@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');


@font-face {
  font-family: 'Euclid Square';
  src: url('/font/EuclidSquare-SemiBold.eot');
  src: local('Euclid Square SemiBold'), local('EuclidSquare-SemiBold'),
      url('/font/EuclidSquare-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('/font/EuclidSquare-SemiBold.woff2') format('woff2'),
      url('/font/EuclidSquare-SemiBold.woff') format('woff'),
      url('/font/EuclidSquare-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('/font/EuclidSquare-Medium.eot');
  src: local('Euclid Square Medium'), local('EuclidSquare-Medium'),
      url('/font/EuclidSquare-Medium.eot?#iefix') format('embedded-opentype'),
      url('/font/EuclidSquare-Medium.woff2') format('woff2'),
      url('/font/EuclidSquare-Medium.woff') format('woff'),
      url('/font/EuclidSquare-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Square';
  src: url('/font/EuclidSquare-Light.eot');
  src: local('Euclid Square Light'), local('EuclidSquare-Light'),
      url('/font/EuclidSquare-Light.eot?#iefix') format('embedded-opentype'),
      url('/font/EuclidSquare-Light.woff2') format('woff2'),
      url('/font/EuclidSquare-Light.woff') format('woff'),
      url('/font/EuclidSquare-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

html,
body {
  font-family: 'Euclid Square', sans-serif;
}
body {
  max-width:1600px;
  margin:0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: transparent;
}

a:hover {
  color: #49A159 !important;
}

// Nav

header {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #eaeaea;
  z-index: 9;
}
nav {

  .logo  {
    color: black;
    font-weight: 600;
  }
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 11px 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   a {
    color: #D0D0D0;
    &:hover {
      color: #49A159 !important;
    }
  }
  li {
    list-style: none;
  }
  ul {
    display: flex;
    margin: 0;
  }
  .cart svg {
     vertical-align: middle;
  }

  .websiteRelated {
    li a {
     padding:18px 10px;
     font-weight: 600;
    }
  }
  .websiteRelated li {
    margin: 0 10px;
  }
  .userRelated li {
    margin: 0 10px;
  }

  .sidebarToggle button {
    border: 0;
    color: #D0D0D0;
    padding: 0;
    display: none;
  }
  
}

.ant-drawer-body {
  padding: 24px 0 !important;
}

.navActive a {
  border-bottom: 2px solid #49A159 ;
}
.headings {
  padding: 20px 10px;
  margin-bottom: 0;
}

.titleWrapper {
  position: relative;
   h1 {
  font-size: 110px;
  text-align: center;
  color: #c7c5d1;
  letter-spacing: 0px;
  font-family: "Bubblegum Sans", cursive;
  } 

  h2 {
    font-weight: bold;
    font-size: 28px;
    line-height: normal;
    letter-spacing: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 50%;
  }

}





//  Ant Design OverRides

.ant-btn:hover, .ant-btn:focus {
    color: #49A159  !important;
    border-color: #49A159  !important;
}


.ant-spin {
    position: absolute;
    left: 50%;
    top: 50%;
  }  
  
.ant-spin i {
  background-color: #49A159  !important;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: #49A159  !important;
}

.fallback {
  height: 90vh;
  display: grid;
  place-items: center;
}

.ant-input:focus, .ant-input-focused {
  border-color: #49A159;
}

//  Media Query

@media  (max-width: 600px) {
  .sidebarToggle button {
    display: block !important; 
  }
  .websiteRelated {
    display: none;
  }
}

@media  (max-width: 1050px) {
  .blogCard {
    flex-wrap: wrap;
  }
  .cakesPageHeader {
    background-size: 100% !important;
  }
  .icons {
    flex-direction: column;
  }
}

@media  (max-width: 450px) {
  .titleWrapper {
     h1 {
    font-size: 60px;
    } 
  
    h2 {
      font-weight: bold;
      font-size: 20px;
      line-height: normal;
      letter-spacing: 5px;
      position: absolute;
      left: 55%;
      margin-left: -50px;
      top: 42%;
    }
  }
  .carousel .swiper-container {
    height: 50vh;
  }
  .carousel .swiper-container img {
    height: 100%;
  }
}