.websiteRelatedSideMenu {
    list-style: none;
    li {
      padding: 8px 10px;
      a {
        color: black;
      }
      &:hover {
        background: #D0D0D0;
        transition: 0.5s all ease;
      }
    }
  }

.cartLen {
  width: 20px;
  height: 20px;
  background: black;
  display: inline-block;
  text-align: center;
  position: absolute;
  border-radius: 50%;
  left: 17px;
  top: -3px;
  font-size: 13px;
  line-height: 19px;
}