


.banner {
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    h1 {
        color: white;
    }
}

.blogHeader {
    .desc {
        text-align: center;
        padding: 10px;
        font-size: 17px;
    }
}

.details {
    display: flex;
    p {
        padding:0 5px;
        font-size: 17px;
    }

    svg {
        color: #49A159;
        font-size: 20px;
        margin-left: 4px;
    }

}

.render {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    img {
        max-width: 800px;
    }
}